<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin Login Page</title>
</head>

<body>
	<form action="/admin/login" method="post" th:object="${admin}">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password"><br>
		<input type="submit" value="Log in">
		<button onclick="location.href='@{${/}}'" type="button">Cancel</button>
	</form>
</body>

</html>
