<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin List</title>
</head>

<body>
	<button onclick="location.href='/admin/logout'" type="button">Logout</button><br>
	<br>
	<a href="/admin/admins/new">Create New Admin</a><br>
	<br>
	<table>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
		<tr th:each="admin : ${admins}">
			<td><a th:href="@{/admin/admins/edit/{id}(id=${admin.id})}" th:text="${admin.username}">Admin Name</a></td>
			<td><form th:action="@{/admin/admins/delete/{id}(id=${admin.id})}" method="post">
				<button type="submit">Delete</button>
			</form></td>
		</tr>
	</table>
	<br>
	<a href="/admin">Back to Admin Page</a>
</body>

</html>
